.AccomList .list-section {
    display: flex;
    overflow-y: scroll;
    background-color: #ececec;
}
.AccomItem {
    background-color: #ffffff;
    margin: 20px 5px;
    width: 500px;
    height: 310px;
    border-radius: 5px;
}
.AccomItem img {
    width: 80vh;
    height: 200px;
    object-fit: cover;
}
.AccomItem h3 {
    height: 5vh;
    font-size: 17px;
    color: rgb(64, 64, 64);
    align-items: center;
    text-align: center;
}
.AccomItem .accom-addr {
    text-align: center;
    color: #878787;
}